# OS X
**/.DS_Store*
**/Icon?
**/._*

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini

# Linux
**/.directory
**/*~

# npm
node_modules
*.gz

#log
log/*
!log/.empty

#vscode
.vs_code/

#config
.env

#log
**/*.log
**/*.log.*